<span class="user">
  <span class="user-avatar">
    <a href="<%= user_path(user) %>"> <%= image_tag(user_avatar(user), class: "img-icon") %> </a>
  </span>

  <span class="user-name">
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>
