<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

    <%= image_tag "event_thumb.jpg", class: "event-background" %>

    <div class="thumbnail-inner event-info-inner">
      <div class="caption">
        <div class="event-description">
          <h3><%= link_to event.title, event_path(event), class: "text-warning" %></h3>
          <h3><small><%= l(event.datetime, format: :short) %></small></h3>
          <div class="buffer-both text-center"><%= event.address %></div>
        </div>
      </div>
    </div>
  </div>
</div>