<h1 class="display-3"><%= t('titles.event.index') %></h1>

<div class="buffer-both">
  <%= link_to t('buttons.event.new'), new_event_path, class: 'btn btn-dark' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
