<h1 class="display-3"><%= t('titles.event.index') %></h1>

<div class="buffer-both">
  <%= link_to t('buttons.event.new'), new_event_path, class: 'btn btn-dark' %>
</div>

<div class="buffer-bottom">
  <div class="d-flex flex-wrap mb-2 mt-1" %>
    <%= render partial: 'events/event', collection: @events %>
  </div>
</div>
